{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>Watchlist</h2>

    {% for listing in watchlist %}
        <div class="card">
            <div class="card-body">
                <img src="{{ listing.image_url }}" alt="Listing Image" style="width: 100px; height: 100px;">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text">Price: ${{ listing.price }}</p>
                <p class="card-text">Category: {{ listing.category }}</p>
                <a href="{% url 'listing' listing_id=listing.id %}" class="btn btn-primary">View Listing</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}